{% extends "layout.html" %}
{% block body %}

  <div class="columns">
    <div class="column is-3">
      {% with user = current_user %}
      {% with active_page = "frontpage" %}
        {% include "leftnav.html" %}
      {% endwith %}
      {% endwith %}
    </div>


    <div class="column is-6">
      <form method="POST" action="/post_twaat">
          <label class="label">Twaat of the day?</label>
          <p class="control">
            <textarea
            class="textarea"
            placeholder="Whats up, {{current_user.full_name.split()[0]}}"
            name="twaat_text"></textarea>
          </p>
            <input class="button is-primary is-medium" type="submit" value="Send"><br/>
            <!-- <span class="" for="twaat_image"><small>need an img?</small></span>
            <input class="" id="twaat_image" type="file" name="twaat_img" accept="image/*"> -->
      </form>
      <hr>
      <h5 class="title">My last TWAATs </h5>
      <div class="columns">
      <div class="column">
      {% include "twaat.html" %}
      </div>
      </div>
      <span class="is-pulled-right"><a href="/profile">...more</a></span>
      <hr/>
      <!-- Tweets -->
      <h5 class="title">Following</h5>
      {% for twaat in followed_twaats|reverse %}
      {% include "twaat.html" %}
      {% endfor %}
    </div>

    <div class="column is-3">
      <div class="content">
        {% with followers_length=followers|length %}
        {% with following_length=following|length %}
          {% include "rightnav.html" %}
        {% endwith %}
        {% endwith %}
      </div>
    </div>

  </div>
{% endblock %}
