<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Twatter inc. {% block header %}{% endblock %}</title>
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/fav.ico') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bower_components/bulma/css/bulma.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<section class="hero is-medium is-primary is-bold">
		<div class=hero-head>


			<nav class="nav has-shadow">
				<div class="container">
					<div class="nav-left">
						<h1 class="title"><a class="nav-item is-brand" href="{{url_for('index')}}">Twatter <small class="subtitle">2.0</small></a>
						</h1>
					</div>
					<div class="nav-center">
						{% if current_user.is_authenticated %}
						<form method="POST" action="/search">
							<p class="nav-item control has-addons">
								<span class="select">
                <select name="type">
                  <option value="users">Users</option>
                  <option value="tags">#Tags</option>
                </select>
              </span>
								<input name="query" class="input" type="text" placeholder="..?">
								<button type="submit" class="button is-secondary">
                Search
              </button>
							</p>
						</form>
						{% else %}
						<a class="nav-item" href="https://github.com/sorja/twatter">
							<span class="icon">
              <i class="fa fa-github"></i>
            </span>
						</a>
						{% endif %}
					</div>

					<div class="nav-right nav-menu">

						<!-- Logon/logout -->
						{% if current_user.is_authenticated %}
						<span class="nav-item"><a class="button is-primary" href="{{url_for('profile')}}">{{ current_user.full_name }}</a></span>						{% endif %}

						<!-- Documentation link -->
						<a class="nav-item" href="https://github.com/sorja/twatter/blob/master/doc/Documentation.pdf">
            Documentation
          </a> {% if current_user.is_authenticated %}
						<span class="nav-item"><a class="button outlined" href="{{url_for('logout')}}">logout</a></span> {% else %}
						<!-- Tweet button -->
						<span class="nav-item">
              <a class="button" href="https://twitter.com/intent/tweet?text=Wanna complain? Try:&url=http://valit.us">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
						<span>Tweet</span>
						</a>
						</span>
						{% endif %}


					</div>
				</div>
			</nav>

		</div>
	{% if not current_user.is_authenticated %}

		<div class="hero-body">
			<div class="container">

				<nav class="level">
					<div class="level-item has-text-centered">
						<p class="heading">Twaats</p>
						<p class="title">{{info_twaats}}</p>
					</div>
					<div class="level-item has-text-centered">
						<p class="heading">Followers</p>
						<p class="title">{{info_followers}}</p>
					</div>
					<div class="level-item has-text-centered">
						<p class="heading">Loves</p>
						<p class="title">{{info_loves}}</p>
					</div>
				</nav>


			</div>
		</div>
		{% endif %}
	</section>



	{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
	<section class="section">
		<div class="columns">
		{% for class, message in messages %}
		<div class="column column is-half is-offset-one-quarter">
			<div class="notification {{class}}">
				<button class="delete"></button> {{ message }}
			</div>{% endfor %}
		</div>
	</section>
	{% endif %}
	</div>
	{% endwith %}
	<section class="section">
		<div class="container">
			{% block body %}{% endblock %}
		</div>		
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
				</p>
				<p>
					<a class="icon" href="https://github.com/sorja/twatter">
						<i class="fa fa-github"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>

	{% if current_user.is_authenticated %}
	<!--MODAL-->
	{% include "file_upload_modal.html" %}
	<!--/MODAL-->
	{% endif %}

	<script src="{{ url_for('static', filename='javascript/app.js') }}"></script>

</body>

</html>