{% block leftnav %}
{% set navigation_bar = [
    ('/frontpage', 'frontpage', 'Feed'),
    ('/profile', 'profile', 'Me'),
    ('/loved', 'loved', 'Loved')
] -%}
<aside class="menu">
  <!-- card -->
  <div class="card">
    <div class="card-image">
      <figure class="image is-1by1" {% if current_user.id == user.id %}id="change_avatar" title="Change avatar"{% endif %}>
        {% if user['avatar'] %}
          <img class="" src="{{url_for('static', filename='uploads/avatars/'+user['avatar'])}}" alt="avatar" />
        {% else %}
          <img class="" src="{{url_for('static', filename='img/no_avatar.png')}}" alt="avatar" />
        {% endif %}
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            {% if user['avatar'] %}
              <img class="" src="{{url_for('static', filename='uploads/avatars/'+user['avatar'])}}" alt="avatar" />
            {% else %}
              <img class="" src="{{url_for('static', filename='img/no_avatar.png')}}" alt="avatar" />
            {% endif %}
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5">{{user['full_name']|e}}</p>
          <p class="subtitle is-6"><a href="mailto:{{user['email']}}">{{user['full_name']|e}}</a></p>
        </div>
      </div>
      <div class="content">
        {% if user['description']%}
          {{user['description']}}
        {% else%}
            no description :(
        {% endif %}
        <br>
        <small>{{user.timestamp}}</small>
      </div>
    </div>
  </div>
  <!-- /card -->
  <!-- menu -->
  <p class="menu-label">
    General {{active_page}}
  </p>
  <ul class="menu-list">
  {% for href, id, caption in navigation_bar %}
    <li>
      <a{% if id == active_page %} class="is-active"{% endif %} href="{{ href|e }}">
        {{caption}} 
        {%if id == 'loved' %}
        <span class="icon is-small"><i class="fa fa-heart"></i></span>
        {%endif%}
        </a>
    </li>
    {% endfor %}
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li class=""><a href="/settings">Settings</a></li>
    <li class="is-disabled"><a href="#">Privacy</a></li>
  </ul>
  <!-- /menu -->
</aside>

{% endblock %}
