{% extends "layout.html" %}
{% block body %}

  <div class="columns">
    <!-- profile info -->
    <div class="column is-2">
      {% with active_page = "profile" %}
        {% include "leftnav.html.jinja2" %}
      {% endwith %}    </div>

    <!-- profile twaats -->

    <div class="column is-8">
      <h2 class="title">twaats</h2>
      <hr>
      <div class="twaats">
        {% for twaat in twaats|reverse %}
          {% include "twaat.html.jinja2"%}
        {% endfor %}
      </div>
    </div>
    <!-- profile secondary info -->
    <div class="column is-1">
      {% include "rightnav.html.jinja2" %}
    </div>
  </div>
{% endblock %}
