{% block rightnav %}
<table style="margin-top:25px;" class="table is-bordered">
<tr>
  <td class="is-icon">
    <a href="#">
      <i class="fa fa-user"></i>
    </a>
  </td>
  <th>Following</th>
  <td>{{following_length or 0}}</td>
</tr>
  <tr>
    <td class="is-icon">
      <a href="#">
        <i class="fa fa-users"></i>
      </a>
    </td>
    <th>Followers</th>
    <td>{{followers_length or 0}}</td>
  </tr>
</table>

{% if user is defined and user.id != current_user.getid() %}
  {% if current_user.is_following %}
    <a href="/unfollow/{{user.id}}" class="button is-danger is-outlined">Unfollow</a>
  {% else %}
    <a href="/follow/{{user.id}}" class="button is-danger">Follow</a>
  {% endif %}
{% endif %}

{% endblock %}
