{% block twaat %}
  <div class="box">
    {% if deletable %}
    <a {% if deletable %} href="{{url_for('unlove', id=twaat['id'])}}"{% endif %}class="icon is-small is-pulled-right"><i class="fa fa-times"></i></a>
    {% endif %}
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          {% if twaat['avatar'] %}
            <img class="" src="{{url_for('static', filename='uploads/avatars/'+twaat['avatar'])}}" alt="avatar" />
          {% else %}
            <img class="" src="{{url_for('static', filename='img/no_avatar.png')}}" alt="avatar" />
          {% endif %}
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <!-- upper -->
            <strong>{{twaat.full_name|e}}</strong>
            <small><a href="{{url_for('profile', id=twaat['user_id'])}}">@{{twaat['full_name']|e}}</a></small>
            <small>{{twaat.timestamp.strftime("%d.%m.%Y %H:%M")|e}}</small>
            <!-- /upper -->
            <br>
            {{twaat['text']|e}}
          </p>
        </div>
        <!-- bottom: reply, retwat, like -->
        <nav class="level">
        {% if twaat['user_id'] != current_user.getid() %}
          <div class="level-left">
            <a href="{{url_for('retwaat', id=twaat['id'])}}" class="level-item">
              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
            </a>
            <a class="level-item">
                <label class="collapse" for="{{twaat['id']}}}"><span class="icon is-small"><i class="fa fa-reply"></i></span></label>
                <input id="{{twaat['id']}}}" type="checkbox"> 
                <div>
          <p class="control has-addons">
            <input id="reply_input" type="text" maxlength="30" placeholder="Your thoughts?" />
            <button type="submit" class="button small is-success">
              Reply
            </button>
          </p>
                </div>
            </a>
          {% if not twaat['id'] in session['loved'] %}
            <a href="{{url_for('love', id=twaat['id'])}}" class="level-item">
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
            </a>
          {% endif %}
          </div>
        {% endif %}
          <div class="level-right">
            {% if twaat.favorited_count > 0 %}
            <!-- LOVE AMOUNT -->
            <a class="level-item" id="hover">
              <span id="hover_show">
                {{twaat.favorited_count}}
              </span>
              <span class="icon is-normal">
                <i class="fa fa-heart-o"></i>
              </span>
            </a>
            {% endif %}
            </div>
        </nav>
        <!-- /bottom -->
      </div>
      <div class="media-right">
      


      </div>
    </article>
  </div>
{% endblock %}
