{% extends "layout.html" %}
{% block body %}

  <div class="columns">
    <div class="column">
      <h5>Favorited twaats</h5><br>
      <p>Maybe remove this</p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="column is-two-thirds">
      <form method="POST" action="/post_twaat">
          <label class="label">Twaat of the day?</label>
            <p class="control">
              <textarea class="textarea" placeholder="Whats up, {{current_user.full_name.split()[0]}}" name="twaat_text"></textarea>
            </p>
              <input class="button is-primary is-medium" type="submit" value="Send"><br/>
              <!-- <span class="" for="twaat_image"><small>need an img?</small></span>
              <input class="" id="twaat_image" type="file" name="twaat_img" accept="image/*"> -->
      </form>
      <hr/>
      <!-- Tweets -->
      {% for twaat in twaats_followed|reverse %}
      {% include "twaat.html.jinja2" %}
      {% endfor %}
    </div>
    <div class="column">
      <div class="content">
        {% include "rightnav.html.jinja2" %}
      </div>
    </div>
  </div>
{% endblock %}
