{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="column welcome_screen">
      <h4>Welcome to Twatter.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="column column-25 column-offset-25">
      <form method="POST" action="/login">
        <fieldset>
          <input type="text" placeholder="Username/email" name="email" autofocus>
          <input type="password" placeholder="Password" name="password">
          <input checked type="checkbox" id="stay_logged">
          <label class="label-inline" for="stay_logged">Stay logged in</label>
          <input id="login_button" class="float-right button-primary" type="submit" value="Login">
        </fieldset>
      </form>
      <hr />
      <form method="POST" action="/register">
        <fieldset>
          <h5 class="float-left">New user?<small> register</small></h5>
          <input type="text" placeholder="Full name" name="full_name">
          <input type="email" placeholder="Email" name="email">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <script type="text/javascript">
                  toast.error("{{message}}");
                </script>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <input type="password" placeholder="Password" name="password">
          <input id="login_button" class="float-right button button-outline register" type="submit" value="Register">
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
