{% block leftnav %}
<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a class="is-active" href="/frontpage">Feed</a></li>
    <li><a href="/profile">Me</a></li>
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><a href="/settings">Settings</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>
</aside>
{% endblock %}
