{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <!-- profile info -->
    <div class="colum column-33 profile_info">
      <h5>{{user['full_name']}}</h5>
      <div class="avatar">
        {% if user['avatar'] %}
          <img class="" src="user['avatar']" alt="avatar" />
        {% else %}
          <img class="" src="{{url_for('static', filename='img/no_avatar.png')}}" alt="avatar" />
        {% endif %}
      </div>
      <a href="mailto:{{user['email']}}">{{user['email']}}</a>
    </div>

    <!-- profile twaats -->

    <div class="column column-66">
      <h2>twaats</h2>
      <div class="twaats">
        {% for twaat in twaats %}
          <div class="twaat">
            <span class="full_name float-right"><a href="{{url_for('profile', id=user['id'])}}">{{twaat.full_name}}</a></span>
            <div class="twaat_text">
              {{twaat.text}}
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
    <!-- profile secondary info -->
    <div class="colum column-33">
      <ul class="profile-list">
        <li>Following: 42</li>
        <li>Followers: 12</li>
        <li>Favorited tweets: 15</li>
      </ul>
    </div>
  </div>
{% endblock %}
